@media (min-width: 992px)
{
    #cari-mobile {
    display: none;
  }

  .navbar-default .navbar-nav .dropdown-menu {
    background-color: #e7e7e7;
  }

  li.dropdown:hover > ul.dropdown-menu {
    display: block;    
  }

  .dropdown-menu > li > a {
    padding: 10px 20px;
  } 

  #cari-desktop:hover > ul.dropdown-menu {
    display: block;
  }

}

@media (max-width: 992px) {
  
  .navbar-default .navbar-nav .open .dropdown-menu {
    position: static;
    background: transparent;
    background-color: transparent !important;
    float: none;
    /*border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;*/
  }

  li.dropdown.open {
    background: transparent !important;
  }

  .navbar-default .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    padding: 10px 10px 10px 25px;
  }


  #cari-desktop {
    display: none;
  }

  #promo-affix.affix {
    position: static !important;
  }

  #promo-affix.affix-top {
    position: static !important;
  }

  #promo-affix.affix-bottom {
    position: static !important;
  }

  .navbar-header {
      float: none;
  }

  .navbar-left,.navbar-right {
      float: none !important;
      overflow-x: hidden;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      overflow-x: hidden;
  }
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
      margin-bottom: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .row {
    margin-right: 0%; margin-left:0%;
  }
}


  #nav-affix > .navbar.navbar-default {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .nav-tabs > li > a {
    color: #000;
  }

  ol.breadcrumb > li > a {
    color: #e5e5e5;
  }

  ol.breadcrumb > li.active > a {
    color: #000;
  }

  .masthead {
    height: 105px;
    background-color: #246B80;
    background: url('../../img/banner.jpg') no-repeat center top;
    background-size: cover;
  }

  .panel-heading {
  border:0px; 
  padding-top:5px; 
  padding-bottom:5px; 
  background-color:#bfbfbf !important;
  }

  #nav-affix.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    animation: affixFadeIn 3s ease-out;
    -webkit-animation: affixFadeIn 3s ease-out;
  }

  #promo-affix.affix {
    position: fixed;
    top: 65px;
    left: 2%;
    animation: affixFadeIn 2s ease-out;
    -webkit-animation: affixFadeIn 2s ease-out;
  }

   #promo-affix.affix-bottom {
    position: relative;
  }

  .row {
    margin-right: 3%; margin-left:3%;
  }

  .navbar-default {
  background: rgba(225,225,225, 0.75);
  border-bottom: none;
  /*margin-right: 15px;*/
  }

  #link-footer {
    color:#000;
  }

  .divider {
    margin: 30px 0; /* Space out the Bootstrap <hr> more */
  }

    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        color: #000;
    }

    .strike > span {
        position: relative;
        display: inline-block;
    }
  
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 2px;
        background: #000;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 12%;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 12%;
    }

    .strike2 {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
    }

    .strike2 > span {
        position: relative;
        display: inline-block;
    }
  
    .strike2 > span:before,
    .strike2 > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 2px;
        background: #fff;
    }

    .strike2 > span:before {
        right: 100%;
        margin-right: 12%;
    }

    .strike2 > span:after {
        left: 100%;
        margin-left: 12%;
    }

    body {
      background: url(../../img/bg.jpg);
      /*padding-top:75px;*/
    }

    .produk, footer {
      background: url(../../img/placeholder.png);
      color: #fff;
    }


    .navbar-default .navbar-nav > .active{
      color: #fff;
      background: #828282;
    }
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background: #828282;
    }

    .navbar-collapse > ul > li:hover {
      background:transparent;
      cursor: pointer;
    }

    #promo-artikel > ul > li > a {
      color: #000;
    }

    #link_navbar {
      color: #000 !important;
    }

    #cari-desktop2 {
      background: rgba(195,195,195, 0.75);
    }

    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
      color: #fff;
      border: none;
      padding: 1px;
    }

    a,
    a:hover,
    a:visited {
      text-decoration: none !important;
      color: #fff;
    }


    @keyframes affixFadeIn
    {
      from {opacity: 0.1;}
      to {opacity: 1;}
    }

    @-webkit-keyframes affixFadeIn 
    {
      from {opacity: 0.1;}
      to {opacity: 1;}
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #000;
    }

    .sorting_asc, .sorting_desc, .sorting {
      background-image: none !important;
    }

    #table-artikel > tbody > tr > td > a {
      color: #000;
    }

    #table-promo > tbody > tr > td > a {
      color: #000;
    }

  #to-top.affix-top {
    display: none;
    position: relative;
  }

  #to-top.affix {
    display: all;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index:10;
    animation: affixFadeIn 3s ease-out;
    -webkit-animation: affixFadeIn 3s ease-out;
  }
  
  .navbar-default .navbar-nav>li>a {
    color: #000;
  }