.img-responsive {
    margin: 0 auto;
}

#divider {
	width: 0 auto;
	margin-right: 30px;
}

.borderless tr td, .borderless tr th, .borderless tr th {
	color: #000;
    border: none;
    padding: 1px;
}

.table-responsive {
	border: none !important;;
}

.sorting_asc, .sorting_desc, .sorting {
    background-image: none !important;
}

@media (min-width:992px) {
	#divider {
		display: none;
	}

	.table-responsive {
		border: none !important;;
	}
}